@charset "utf-8";

/* CSS Document */
input[type="text"], select, input[type="password"] {
  height: 30px;
  text-align: center;
  margin: 5px;
  font-size: 16px;
  font: Georgia, "Times New Roman", Times, serif;
  border: 2px solid #009;
  border-radius: 5px;
}
input[type="submit"], input[type="reset"] {
  text-align: center;
  font-size: 16px;
  border: 1px outset #009;
  background-color: #38B2CD;
  padding: 3px 10px;
  color: #FFF;
  border-radius: 5px;
}
input[type="search"] {
  height: 25px;
  text-align: left;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
}
#table {
  margin: 20px;
}
th {
  font-weight: 100;
}