@charset "utf-8";

/* CSS Document */
#menu {
  height: 50px;
  width: 100%;
  background-color: #06F;
}
#menu ul {
  display: block;
  line-height: 40px;
  margin: 0px;
  padding: 0px;
}
#menu li {
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: #FFF;
  position: relative;
  font-style: italic;
  border-radius: 6px;
  border: 0px solid;
  background-color: #60F;
  float: left;
}
#menu ul li a {
  height: 50px;
  width: 160px;
  display: block;
  padding: 0px 10px;
  text-align: center;
  font-family: "Comic Sans MS", cursive;
  text-decoration: none;
  color: #FFF;
  text-shadow: 2px #FFF;
  border-radius: 15px;
  border: 1px 1px solid #FFF;
}
#menu ul ul {
  position: absolute;
  visibility: hidden;
  left: 5px;
}
#menu ul li:hover ul {
  visibility: visible;
  z-index: 9999;
}
#menu ul li:hover ul li a:hover {
  background-color: #F0C;
  color: #FFF;
}